<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" alt="red wing sock monkey" src="https://i.pinimg.com/736x/b5/0c/52/b50c52ba01d7673d8da76ee5f3743803--sock-monkeys-detroit.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://code.org">Hour Of Code</a></h2>
  </li>
  <li>
    <h2><a class="red" target="_blank" rel="noopener" href="https://www.nhl.com/redwings">Lets go RED WINGS!!!</a></h2>
  </li>
  <li>
    <h2><a class="zelda" target="_blank" rel="noopener" href="http://zelda.com">ZELDA!</a></h2>
  </li>
</ul>
<div class="kitty">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XyNlqQId-nk" frameborder="0" allowfullscreen></iframe>
</div>
